.details-main{
    width: 100%;
}
.details-body{
    width: 100%;
    margin: 30px auto;
}
img{
    margin: 10px auto;
}
.d-head{
    width: max-content;
    margin: 10px auto !important;
}
.list-grid{
    display: grid;
    width: 75%;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    border-radius: 0.25rem;
    padding: 25px;
    margin: 10px auto;
}
.list-grid li{
    margin: 10px 0px;
    list-style: none;
    font-weight: 500;
}
.right-grid{
    text-align: left;
}

.heading {
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
}
.info-text {
    margin: 0px;
    font-weight: 450;
    font-size: 15px;
}
.details-body .segments i {
    width: fit-content !important;
    height: fit-content !important;
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px !important;
}